{% extends 'base.html' %}
{% block content %}
	<h1>Recommended Movies for {{ user.username }}</h1>
  <hr>
  <main role="main" style="padding-top: 72.12px" >
    <div class="album  text-center">
      <div class="container">
        <div class="row">

          {% for movie in recommneded_movies %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" style="display: block;" src="{{movie.poster_path}}" >
              <div class="card-body text-start">
                <h5 class="">
                  <a href="{% url 'movies:detail' movie.pk %}">
                    {{movie.title}}
                  </a> 
                </h5>
                <p class="">
                  {% for genre in movie.genres.all %}
                    {{genre.name}}
                  {% endfor %}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>        
          {% endfor %}

        </div>
      </div>
    </div>   
  </main>
{% endblock %}
